/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #444344;
}

header {
    background-color: #0071f1;
    color: #3f3d3d;
    padding: 1rem;
    text-align: center;
}

header h1 {
    margin: 0;
}

main {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #c0b9b9;
    border: 13px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(121, 117, 117, 0.1);
}

section#calculator {
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="number"], button {
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #0e46e0;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #1eee29;
}

#result {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

footer {
    text-align: center;
    padding: 6rem;
    background-color: #333;
    color: #0b53f0;
    position: fixed;
    bottom: 0;
    width: 10%;
}

/* Responsividade */
@media (max-width: 600px) {
    main {
        padding: 10px;
    }
}

#faq {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #4e60c2;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.faq-item {
    margin-bottom: 20px;
}

.faq-question {
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    font-weight: bold;
    border: none;
    text-align: left;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.faq-question:hover {
    background-color: #01bb3f;
}

.faq-answer {
    display: none;
    padding: 10px;
}

.faq-answer p {
    margin-top: 0;
}

.faq-answer ul {
    margin-top: 5px;
    padding-left: 20px;
}

.faq-answer li {
    margin-bottom: 5px;
}


